In [1]:
import pandas as pd

In [ ]:
d = pd.read_csv('/content/drive/MyDrive/agrupados_pessoa/acidentes2014.csv', encoding='latin1', sep=";")

In [ ]:
d.groupby('uf', as_index=False)['id'].count()

    uf     id
0   AC   1103
1   AL   3329
2   AM    447
3   AP    751
4   BA  23394
5   CE   8466
6   DF   3170
7   ES  17296
8   GO  15563
9   MA   6113
10  MG  46210
11  MS   7590
12  MT   9391
13  PA   7368
14  PB   7740
15  PE  16657
16  PI   5904
17  PR  37792
18  RJ  33581
19  RN   7954
20  RO   6735
21  RR    884
22  RS  30532
23  SC  38522
24  SE   3497
25  SP  25235
26  TO   3282

In [ ]:
acidentes2014 = pd.DataFrame(d.groupby('uf')['id'].count()).reset_index()

In [ ]:
acidentes2014.rename(columns={'id':'acidentes', 'uf':'UF'}, inplace=True)

In [ ]:
acidentes2014

    UF  acidentes
0   AC       1103
1   AL       3329
2   AM        447
3   AP        751
4   BA      23394
5   CE       8466
6   DF       3170
7   ES      17296
8   GO      15563
9   MA       6113
10  MG      46210
11  MS       7590
12  MT       9391
13  PA       7368
14  PB       7740
15  PE      16657
16  PI       5904
17  PR      37792
18  RJ      33581
19  RN       7954
20  RO       6735
21  RR        884
22  RS      30532
23  SC      38522
24  SE       3497
25  SP      25235
26  TO       3282

In [ ]:
d.groupby('uf',  as_index=False)['mortos'].sum()

    uf  mortos
0   AC      32
1   AL     149
2   AM      18
3   AP      10
4   BA     794
5   CE     291
6   DF      46
7   ES     279
8   GO     468
9   MA     317
10  MG    1163
11  MS     226
12  MT     282
13  PA     195
14  PB     182
15  PE     425
16  PI     228
17  PR     778
18  RJ     537
19  RN     150
20  RO     103
21  RR      30
22  RS     507
23  SC     536
24  SE      64
25  SP     307
26  TO     117

In [ ]:
acidentes_mortos = pd.DataFrame(d.groupby('uf')['mortos'].sum()).reset_index()

In [ ]:
acidentes_mortos

    uf  mortos
0   AC      32
1   AL     149
2   AM      18
3   AP      10
4   BA     794
5   CE     291
6   DF      46
7   ES     279
8   GO     468
9   MA     317
10  MG    1163
11  MS     226
12  MT     282
13  PA     195
14  PB     182
15  PE     425
16  PI     228
17  PR     778
18  RJ     537
19  RN     150
20  RO     103
21  RR      30
22  RS     507
23  SC     536
24  SE      64
25  SP     307
26  TO     117

In [ ]:
acidentes_mortos.rename(columns={'uf':'UF', 'mortos':'MORTOS'}, inplace=True)

In [ ]:
acidentes_mortos

    UF  MORTOS
0   AC      32
1   AL     149
2   AM      18
3   AP      10
4   BA     794
5   CE     291
6   DF      46
7   ES     279
8   GO     468
9   MA     317
10  MG    1163
11  MS     226
12  MT     282
13  PA     195
14  PB     182
15  PE     425
16  PI     228
17  PR     778
18  RJ     537
19  RN     150
20  RO     103
21  RR      30
22  RS     507
23  SC     536
24  SE      64
25  SP     307
26  TO     117

In [ ]:
acidentes2014.drop(columns=['UF'], axis=1, inplace=True)

In [ ]:
acidentes_mortos.drop(columns=['UF'], axis=1, inplace=True)

In [ ]:
temp = pd.concat([acidentes2014, acidentes_mortos], axis=1, sort=False)

In [ ]:
temp

    acidentes  MORTOS
0        1103      32
1        3329     149
2         447      18
3         751      10
4       23394     794
5        8466     291
6        3170      46
7       17296     279
8       15563     468
9        6113     317
10      46210    1163
11       7590     226
12       9391     282
13       7368     195
14       7740     182
15      16657     425
16       5904     228
17      37792     778
18      33581     537
19       7954     150
20       6735     103
21        884      30
22      30532     507
23      38522     536
24       3497      64
25      25235     307
26       3282     117

In [2]:
df = pd.read_csv('/content/drive/MyDrive/SNV_2014.csv', encoding='cp1252', sep=";")

In [3]:
df

,BR,UF,Jurisdição Federal,Superficie,Código,Local de Início,Local de Fim,km inicial,km final,Extensão,Superfície Federal
0,174,RO,Federal - PAV,PAV,174BRO0150,ENTR BR-364(A) (DIV MT/RO),INÍCIO PISTA DUPLA,"0,0","6,9","6,9",PAV
1,174,RO,Federal - PAV,PAV,174BRO0155,INÍCIO PISTA DUPLA,ENTR BR-364(B) (VILHENA),"6,9","13,2","6,3",DUP
2,174,RO,Federal - PAV,PAV,174BRO0160,ENTR BR-364(B) (VILHENA),FIM PISTA DUPLA,"13,2","14,8","1,6",DUP
3,174,RO,Federal - PAV,PAV,174BRO0165,FIM PISTA DUPLA,FIM DO TRECHO PAVIMENTADO,"14,8","33,2","18,4",PAV
4,174,RO,Federal - N_PAV,N_PAV,174BRO0170,FIM DO TRECHO PAVIMENTADO,DIV RO/MT,"33,2","78,9","45,7",IMP
...,...,...,...,...,...,...,...,...,...,...,...
6656,479,DF,NaN,PLA,479BDF0114,ENTR DF-310,ENTR DF-320,"22,2","28,3","6,1",PLA
6657,479,DF,NaN,PLA,479BDF0116,ENTR DF-320,ENTR DF-120,"28,3","32,3","4,0",PLA
6658,479,DF,NaN,PLA,479BDF0118,ENTR DF-120,ENTR DF-130,"32,3","38,7","6,4",PLA
6659,479,DF,NaN,PLA,479BDF0130,ENTR DF-130,ENTR DF-330,"38,7","43,3","4,6",PLA
6660,479,DF,NaN,PLA,479BDF0132,ENTR DF-330,ENTR DF-001/015/250(B) (BRASILIA ),"43,3","52,9","9,6",PLA

In [ ]:
df.shape

(4081, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4081 entries, 0 to 4080
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BR                  4081 non-null   int64
 1   UF                  4081 non-null   object
 2   JURISDICAO          3789 non-null   object
 3   SUPERFICIE          4081 non-null   object
 4   CODIGO              4081 non-null   object
 5   LOCAL_INICIO        4081 non-null   object
 6   LOCAL_FIM           4081 non-null   object
 7   KM_INICIAL          4081 non-null   object
 8   KM_FINAL            4081 non-null   object
 9   EXTENSAO            4081 non-null   object
 10  SUPERFICIE_FEDERAL  4081 non-null   object
dtypes: int64(1), object(10)
memory usage: 350.8+ KB

In [36]:
pd2 = pd.read_csv('/content/drive/MyDrive/SNV_2015.csv', encoding="cp1252", sep=";")

In [ ]:
pd2.isnull().sum()

BR                      0
UF                      0
JURISDICAO            361
SUPERFICIE              0
CODIGO                  0
LOCAL_INICIO            0
LOCAL_FIM               0
KM_INICIAL              0
KM_FINAL                0
EXTENSAO                0
SUPERFICIE_FEDERAL      0
dtype: int64

In [37]:
pd2['Extensão'] = pd2['Extensão'].str.replace(',', '.').apply('float64')

In [6]:
df['Extensão'] = df['Extensão'].str.replace(',', '.').apply('float64')

In [55]:
snv_2014 = df.loc[(df['BR'] == 101) & (df['Superficie'] != 'PLA')]

In [56]:
snv_2015 = pd2.loc[(pd2['BR'] == 101) & (pd2['Superficie'] != 'PLA')]

In [57]:
ext_2014 = snv_2014['Extensão'].sum()

In [58]:
ext_2015 = snv_2015['Extensão'].sum()

In [59]:
print(ext_2014)

3977.0

In [60]:
print(ext_2015)

3854.9000000000005

In [53]:
print(30436/ext_2014)

7.653004777470455

In [ ]:
snv_2016 = pd.read_csv('/content/drive/MyDrive/SNV_2016.csv', encoding="cp1252", sep=";")

In [ ]:
snv_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6981 entries, 0 to 6980
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BR                  6981 non-null   int64
 1   UF                  6981 non-null   object
 2   Tipo de trecho      6981 non-null   object
 3   Desc Coinc          6981 non-null   object
 4   Código              6981 non-null   object
 5   Local de Início     6981 non-null   object
 6   Local de Fim        6981 non-null   object
 7   km inicial          6981 non-null   object
 8   km final            6981 non-null   object
 9   Extensão            6981 non-null   object
 10  Superfície Federal  6981 non-null   object
dtypes: int64(1), object(10)
memory usage: 600.1+ KB

In [ ]:
snv_2016['EXTENSAO'] = snv_2016['EXTENSAO'].str.replace(',', '.').apply('float64')

In [ ]:
BR101 = snv_2016.loc[snv_2016['BR'] == 101]

In [ ]:
BR101['EXTENSAO'].sum()

4770.299999999999

In [45]:
14.566/3.854

3.779449922158796